<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/dark-mode.js" defer></script>
</head>
<body>
  <div class="container">
    <h1>Blip Details</h1>
    <div>
      <p><strong>User:</strong> <%= message.user %></p>
      <p><strong>Message:</strong> <%= message.text %></p>
      <p><strong>Added:</strong> <%= message.added.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' }) %></p>
    </div>
    <div style="display: flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
      <a href="/" class="button button-secondary">Back to Blips</a>
      <form action="/message/<%= message.id %>/like" method="POST" style="margin-left: 10px; margin-top: 10px;">
        <button type="submit" class="like-button <%= userHasLiked ? 'liked' : '' %>">
          <i class="fas fa-thumbs-up"></i> <%= message.likes %>
        </button>
      </form>
    </div>
  </div>
  
  <footer>ChatterBox &copy; 2024</footer>
</body>
</html>
